

body {
    background: lightblue;
    text-align: center;
    margin: 80px auto;
}


h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 80px;
    color: black;
    letter-spacing: 10px;
}


button {
    
    cursor: pointer;
    /* margin: 0 5px; */
    margin-top: 30px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    color: white;
    transition: all ease .7s;
    background: black;
}

button:hover {
    background-color: white;
    color: black;
    
}

.imgclock{
    width: 180px;
    height: 180px;
    /* box-shadow: 5px 10px 40px black; */
}

.table {
   
    display: table;
    width: 100%;
    height: 100%;
    letter-spacing: 7px;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    cursor: default;
    /* margin-top: 20px; */
}


.hide {
    display: none;
}